.footer
	padding-top: 70px
	padding-bottom: 20px
	&-top
		display: flex
		justify-content: space-between
		margin-bottom: 45px
	&-column
		margin-right: 60px
		p
			margin-bottom: 30px
			font-weight: 700
			text-transform: uppercase
		a
			color: #120400
			&:hover
				color: #a1907e
	&-left
		display: flex
		.left
			ul 
				li
					margin-bottom: 15px
					&:last-child
						margin-bottom: 0
			.fa
				margin-left: 20px
				font-size: 18px
				color: #000
				cursor: pointer
			&:last-child 
				margin-right: 0
				ul li
					&:first-child
						margin-bottom: 45px
	.search_now
		&:hover
			.fa
				color: #a1907e
	&-search
		display: none
		position: absolute
		height: 30px
		.btn-search
			position: absolute
			width: 30px
			height: 30px
			padding: 0
			background-color: transparent
			border: none
			outline: none
			cursor: pointer
			.fa
				margin: 0
				font-size: 16px
				color: #000
		.search
			width: 150px
			height: 100%
			padding: 5px 0 5px 30px 
			color: $accent
			font-size: 16px
			border: none
			border-bottom: 1px solid $accent
			outline: none
			z-index: 3
	&-right
		display: flex
		.right
			margin-right: 165px
			&:last-child
				margin-right: 0
			&-select
				display: flex
			ul li
				display: inline-block
				margin-right: 25px
				&:last-child
					margin-right: 0
				a
					display: block
				.fa
					font-size: 30px
					color: #000
					&:hover
						color: #a1907e
	&-select
		position: relative
		margin-right: 50px
		&:last-child
			margin-right: 0
		.select
			font-family: Open Sans
			color: #000
			font-size: 16px
			border: none
			appearance: none
			cursor: pointer
			outline: none
		.fa
			position: absolute
			right: 0
			top: 2px
			font-size: 17px
			pointer-events: none
		.country
			width: 50px
		.language
			width: 100px 
	&-middle
		display: flex
		margin-bottom: 70px
		a
			margin-right: 30px
			font-family: Open Sans
			color: #000
			&:last-child
				margin-right: 0
			&:hover
				color: #a1907e
	&-bottom
		text-align: center
		font-family: Open Sans
		color: #000
			